img {
   width: 80%;
  height: 70%;
  margin: auto;
  padding-left: 10%;
}


#enquete {
  border: ;
  width: auto;
  height: 50%;
  margin: auto;
}
body{
 background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}